@import url('https://fonts.googleapis.com/css2?family=Bpmf+Zihi+Kai+Std&family=Pacifico&display=swap');

body{
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background: rgb(19, 20, 20);
    display: flex;
    flex-flow: column wrap;
    padding: 5%;
    margin: 1%;
    border-radius: 9px;
}
input{
    width: 90%;
    right: 50px;
    margin: 1%;
    padding: 15px;
    margin-right: 20px;
    margin-top: 10px;

}
label{
    font-family: pacifico ;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(5, 57, 117);
    font-size: 40px;
}
button{
    max-width: max-content;
    text-align: center;
    justify-content: center;
}